<header>
  <div class="ham-wrap">
    <div class="ham">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <nav>
    <ul class="name">
      <li class="circle"><a href="/">{{ cms.aboutme.initials }}</a></li>
      <li><a href="/">{{ cms.aboutme.name }}</a></li>
      <li><a href="/">@{{ cms.aboutme.twitter }}</a></li>
    </ul>
    <ul class="menu">
      <li><a href="/aboutme/">About</a></li>
      <li><a href="/article/">Blog</a></li>
      <li><a href="/gallery/">Photos</a></li>
      <li><a href="/video/">Video</a></li>
      <li><a href="/link/">Links</a></li>
      <li><a href="mailto:{{ cms.aboutme.email }}">Contact</a></li>
      <li><a href="/search-results" class="fa fa-search"></a></li>
    </ul>
  </nav>
</header>
