{# This partial gets included on the homepage and the list view for this type #}
<li class="home-video">
  <a href="{{ item.video_url }}" class="video-open" title="{{ item.description|markdown|striptags }}">
    <div class="video-thumb">
      <div class="image" style="background-image:url({{ item.thumbnail_url }});"></div>
    </div>
    <div class="video-text">
      <div class="type">
        {% if item.source == "YouTube" %}
          <span class="fa fa-youtube-play"></span>
        {% else %}
          <span class="fa fa-vimeo-square"></span>
        {% endif %}
        {{ item.source }}
      </div>
      <h2>{{ item.name }}</h2>
      {{ item.description|markdown }}
    </div>
  </a>
</li>

