{# ------------------------------------------------------- #}

{# LIST VIEW OF ALL gallery #}

{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}

{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}

{# ------------------------------------------------------- #}

{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}

{% block title %}{% parent %} - gallery{% endblock %}

{% block content %}

  <div class="container">
    <article>
      <div class="date">
        {% set last = cms.gallery|last %}
        Last update {{ last.publish_date|date('M d, Y.') }}
      </div>
      <h1>Photos</h1>
      <div class="deck deck-smaller wy-text-center">
        <p>Follow me on <a href="http://www.twitter.com/{{ cms.aboutme.twitter }}/">Twitter</a> for updates.</p>
      </div>
      <hr>
    </article>

    <ul class="home-feed">
      {% for item in cms.gallery|sort('publish_date', true) %}
      <li class="home-gallery">
      <a href="{{ url(item)}}" class="image" style="background-image:url({{ item.images[0].image|imageSize(1050) }})">
        <div class="mask"></div>
        <div class="text">
          <span class="title">{{ item.name }}</span>
          <span class="description">{{ item.description|markdown|striptags|truncate(100) }}</span>
          <span class="num">{{ item.images|size }} images</span>
        </div>
      </a>
      </li>
      {% endfor %}
    </ul>
  </div>


{% endblock %}
