{# ------------------------------------------------------- #}
{# INDIVIDUAL VIEW FOR EACH video #}
{# This page can use any data from http:localhost:2000/cms/#/form/video/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}
{# This sets our page <title>. It will append this video's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ item.name }}{% endblock %}
{% block content %}
    <div class="video-individual">
      <div class="video-main">
        <div class="wy-video">
          <iframe src="{{ item.embed_url }}" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="date">
          {{ item.publish_date|date('F d Y') }}
        </div>
        <h1>{{ item.name }}</h1>
        <div class="deck deck-smaller">{{ item.description|markdown }}</div>
      </div>
      <div class="video-list"></div>
    </div>
{% endblock %}
