{# ------------------------------------------------------- #}
{# ONE OFF VIEW aboutme #}
{# This page can use any data from http:localhost:2000/cms/#/form/aboutme/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}
{# This sets our page <title>. It will append this aboutme's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ cms.aboutme.name }}{% endblock %}
{% block content %}
  <article>
    <h1>More about {{ cms.aboutme.name }}</h1>
    <div class="deck deck-smaller wy-text-center">
     <p>I hail from <strong>{{ cms.aboutme.hometown }}</strong>. Send me an <a href="mailto:{{ cms.aboutme.email }}">email</a>.</p>
    </div>
    <img src="{{ cms.aboutme.bio_picture.url }}">
    <hr>
    {{ cms.aboutme.bio|markdown }}
    <hr>
    <h2>Some of my work</h2>
    {{ cms.aboutme.resume_intro|markdown }}

    <ul class="work">
      {% for row in cms.aboutme.notable_work %}
        <li>
          <h3>
            {% if row.url %}
              <a href="{{ row.url }}">{{ row.name }}</a>
            {% else %}
              {{ row.name }}
            {% endif %}
            <span class="time-period">{{ row.time_period }}</span>
          </h3>
          <p class="role">{{ row.role }}</p>
          {{ row.description|markdown }}
        </li>
      {% endfor %}
    </ul>
  </article>
        {{ cms.aboutme.github }}
        {{ cms.aboutme.instagram }}
        {{ cms.aboutme.reddit }}
        {{ cms.aboutme.twitter }}
        {{ cms.aboutme.steam }}
        {{ cms.aboutme.youtube }}
{% endblock %}
