{# ------------------------------------------------------- #}

{# YOUR HOMEPAGE #}

{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}

{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}

{# ------------------------------------------------------- #}

{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}

{# This sets our page <title>. It will append "- Homepage" to the site title defined in base. #}
{% block title %}{% parent %} - Homepage{% endblock %}

{% block content %}

  <img src="{{ cms.aboutme.picture_of_you|imageCrop(100) }}" class="home-me">

  <h1 class="home-h1">Hello. I'm {{ cms.aboutme.name }}.</h1>
  <div class="home-hello">
    {{ cms.aboutme.homepage_hello|markdown }}
  </div>

  <hr>
  {% set editorial = merge(cms.article, cms.gallery) %}

  <ul class="home-feed">
    {% for item in editorial|sort('publish_date', true) %}
      <li>
        {% if item.images %}
          <a href="{{ url(item)}}">
            <img src="{{ item.images[0].image|imageSize(900) }}">
          </a>
        {% else %}
          <a href="{{ url(item) }}">
            <h3>{{ item.name }}</h3>
            {{ item.deck|markdown }}
          </a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endblock %}
