{% extends "templates/partials/base.html" %}

{% block content %}


<div class="container">
  <div class="home-me-wrap">
    <img src="{{ cms.aboutme.picture_of_you|imageCrop(100) }}" class="home-me">
  </div>

  <h1>Hello. I'm <a href="{{ url('aboutme') }}">{{ cms.aboutme.name }}</a>.</h1>
  <div class="deck deck-smaller">
    {{ cms.aboutme.homepage_hello|safe }}
  </div>

  <hr>

  {# MERGE A BUNCH OF CMS CONTENT TOGETHER INTO ONE FEED #}
  {% set editorial = merge(cms.article, cms.gallery, cms.link, cms.video) %}
  {% set editorial = editorial|sort('publish_date', true) %}
  {# INFINITE SCROLL BY 10 #}
  {% set editorial = paginate(editorial, 10) %}

  <ul class="home-feed js-paginate" data-next-page="{{ getPageUrl(getCurPage() + 1) }}" data-max-page="{{ getPageUrl(getMaxPage()) }}" data-remove-first="true">

    {# TWITTER #}
    {# TWITTER #}
    {# TWITTER #}
    {% if !cms.twitter.text && cms.twitter.name %}
      <li class="twitter twitter-iframe">
        <a class="twitter-timeline" href="https://twitter.com/{{ cms.twitter.name }}" data-widget-id="443912644651528192" data-screen-name="{{ cms.twitter.name }}" data-show-replies="false" data-tweet-limit="1" data-chrome="noheader nofooter noborders noscrollbar transparent">
        Tweets by @{{ cms.twitter.name }}
        </a>
        <script>window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));</script>
      </li>
    {% elseif cms.twitter.text %}
      <li class="twitter">
        <a href="http://www.twitter.com/{{ cms.twitter.name }}" class="twitter-avatar">
          <img src="{{ cms.twitter.user_profile_image_url }}">
        </a>
        <div class="twitter-message">
          <span class="twitter-name"><a href="http://www.twitter.com/{{ cms.twitter.name }}">@{{ cms.twitter.name }}</a><span class="fa fa-twitter"></span></span>
          <p class="js-tweet-body" data-linkify="this">{{ cms.twitter.text|safe }}</p>
          <p class="twitter-date">My last tweet published <a href="{{ cms.twitter.url }}" id="tweetTime" data-tweet-time="{{ cms.twitter.created_at }}">{{ cms.twitter.created_at|date('M d, Y. g:i a') }}</a>.</p>
        </div>
      </li>
    {% endif %}

    {% for item in editorial %}
      {# GALLERY #}
      {# GALLERY #}
      {# GALLERY #}
      {% if item._type == "gallery" %}
        {% include "templates/partials/li_gallery.html" %}
      {# ARTICLE #}
      {# ARTICLE #}
      {# ARTICLE #}
      {% elseif item._type == "article" %}
        {% include "templates/partials/li_article.html" %}
      {# LINK #}
      {# LINK #}
      {# LINK #}
      {% elseif item._type == "link" %}
        {% include "templates/partials/li_link.html" %}
      {# VIDEO #}
      {# VIDEO #}
      {# VIDEO #}
      {% elseif item._type == "video" %}
        {% include "templates/partials/li_video.html" %}
      {% endif %}
    {% endfor %}
  </ul>
  <div id="js-spinner" class="wy-spinner" style="display: none;"></div>
</div>
{% endblock %}

{% block scripts_extra %}{% endblock %}
