{% extends "templates/partials/base.html" %}

{% block content %}


<div class="container">
  <div class="home-me-wrap">
    <img src="{{ cms.aboutme.picture_of_you|imageCrop(100) }}" class="home-me">
  </div>

  <h1>Hello. I'm <a href="{{ url('aboutme') }}">{{ cms.aboutme.name }}</a>.</h1>
  <div class="deck deck-smaller">
    {{ cms.aboutme.homepage_hello|markdown }}
  </div>

  <hr>

  {# MERGE A BUNCH OF CMS CONTENT TOGETHER INTO ONE FEED #}
  {% set editorial = merge(cms.article, cms.gallery, cms.link, cms.video) %}
  {% set editorial = editorial|sort('publish_date', true) %}
  {% set editorial = paginate(editorial, 10) %}

  <ul class="home-feed" data-next-page="{{ getPageUrl(getCurPage() + 1) }}" data-max-page="{{ getPageUrl(getMaxPage()) }}">

    {# TWITTER #}
    {# TWITTER #}
    {# TWITTER #}
    {% if cms.twitter.text %}
      <li class="twitter">
        <a href="http://www.twitter.com/{{ cms.twitter.name }}" class="twitter-avatar">
          <img src="{{ cms.twitter.user_profile_image_url }}">
        </a>
        <div class="twitter-message">
          <span class="twitter-name"><a href="http://www.twitter.com/{{ cms.twitter.name }}">@{{ cms.twitter.name }}</a><span class="fa fa-twitter"></span>.</span>
          <p>{{ cms.twitter.text|markdown }}</p>
          <p class="twitter-date">My last tweet published <a href="{{ cms.twitter.url }}" id="tweetTime" data-tweet-time="{{ cms.twitter.created_at }}">{{ cms.twitter.created_at|date('M d, Y. g:i a') }}</a>.</p>
        </div>
      </li>
    {% endif %}

    {% for item in editorial %}
      {# GALLERY #}
      {# GALLERY #}
      {# GALLERY #}
      {% if item._type == "gallery" %}
        <li class="home-gallery">
          <a href="{{ url(item)}}" class="image" style="background-image:url({{ item.images[0].image|imageSize(1050) }})">
            <div class="mask"></div>
            <div class="text">
              <span class="title">{{ item.name }}</span>
              <span class="description">{{ item.description|markdown|striptags|truncate(100) }}</span>
              <span class="num">{{ item.images|size }} images</span>
            </div>
          </a>
        </li>
      {# ARTICLE #}
      {# ARTICLE #}
      {# ARTICLE #}
      {% elseif item._type == "article" %}
        <li class="home-article">
          <a href="{{ url(item) }}">
            <h2>{{ item.name }}</h2>
            {{ item.deck|markdown }}
          </a>
        </li>
      {# LINK #}
      {# LINK #}
      {# LINK #}
      {% elseif item._type == "link" %}
        <li class="home-link">
          <a href="{{ item.url }}">
            <div class="type"><span class="fa fa-bookmark"></span> Bookmark</div>
            <h2>{{ item.name }} <span class="fa fa-external-link-square"></span></h2>
            {{ item.description|markdown }}
          </a>
        </li>
      {# VIDEO #}
      {# VIDEO #}
      {# VIDEO #}
      {% elseif item._type == "video" %}
        <li class="home-video">
          <a href="{{ item.video_url }}" class="video-open" title="{{ item.description|markdown|striptags }}">
            <div class="video-thumb">
              <div class="image" style="background-image:url({{ item.thumbnail_url }});"></div>
            </div>
            <div class="video-text">
              <div class="type">
                {% if item.source == "YouTube" %}
                  <span class="fa fa-youtube-play"></span>
                {% else %}
                  <span class="fa fa-vimeo-square"></span>
                {% endif %}
                {{ item.source }}
              </div>
              <h2>{{ item.name }}</h2>
              {{ item.description|markdown }}
            </div>
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
  <div id="load-more-spinner" class="wy-spinner" style="display: none;"></div>
</div>
{% endblock %}

{% block scripts_extra %}
<script>
  $(document).ready(function() {
    var nextPage = $('.home-feed').attr('data-next-page');
    var maxPage = $('.home-feed').attr('data-max-page');

    var finishedLoading = false;
    var loading = false;
    $(window).scroll( function() {
      if(loading || finishedLoading) {
        return;
      }

      var container = $('.home-feed');
      var bottomOfContainer = container.position().top + container.outerHeight(true);
      var scrollBottom = $(window).scrollTop() + $(window).height();
      if(scrollBottom > bottomOfContainer)
      {
        loading = true;
        $('#load-more-spinner').show();

        $.ajax({
          url: nextPage,
          success: function(html)
          {
              if(html) {
                  var targetHtml = $(html).find('.home-feed');

                  if(nextPage === maxPage) {
                    finishedLoading = true;
                  }

                  nextPage = targetHtml.attr('data-next-page');

                  if(nextPage) {
                    targetHtml.find('li').first().remove();
                    $(".home-feed").append(targetHtml.html());
                  } else {
                    finishedLoading = true;
                  }

                  $('#load-more-spinner').hide();
              } else {
                  finishedLoading = true;
                  $('#load-more-spinner').hide();
              }

              loading = false;
          }
        });
      }
    });
  });
</script>
{% endblock %}
