{# ------------------------------------------------------- #}
{# INDIVIDUAL VIEW FOR EACH article #}
{# This page can use any data from http:localhost:2000/cms/#/form/article/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}
{# This sets our page <title>. It will append this article's name to the site title defined in base.html #}
{% block title %}{{ item.name }}{% endblock %}
{% block content %}

  {% set next = nextItem(item, 'publish_date', true) %}
  {% set prev = prevItem(item, 'publish_date', true) %}
  {% if next %}
    <a href="{{ url(next)}}" class="next-item">
      <span class="fa fa-angle-right"></span>
      <div class="item-head">Next article</div>
      <div class="item-name">{{ next.name }}</div>
    </a>
  {% endif %}
  {% if prev %}
    <a href="{{ url(prev)}}" class="prev-item">
      <span class="fa fa-angle-left"></span>
      <div class="item-head">Previous article</div>
      <div class="item-name">{{ prev.name }}</div>
    </a>
  {% endif %}

  <article>
    <div class="date">{{ item.publish_date|date('M d Y') }}</div>
    <h1>{{ item.name }}</h1>
    <div class="deck">{{ item.deck|markdown }}</div>
    <hr/>
    {{ item.body|markdown }}
    <img src="{{ item.optional_big_hero_image|imageSize(200) }}" />
  </article>
{% endblock %}
